* {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
html {
    background-color: #FFEEDC;
}
body {
    margin: 0;
    padding: 0;
}
.flex-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.flex-item {
    font-size: 10vw;
    font-weight: bold;
    color: #333333;
    text-align: center;
    text-decoration: none;
}
.flex-item:hover {
    background-color: #333333;
    color: #FFEEDC;
}
#icon {
    height: 30vw    ;
    width: 30vw;
    border-radius: 50%;
}
#icon:hover {
    box-shadow: 0 0 20px #333333;
}
.navigation {
    order: -1;
    display: flex;
    width: 50vw;
    justify-content: space-around;
    flex-direction: column;
}