:root {
  --top-nav-height: 56px;
}

.list-start {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: 2px solid #efd2b8;
  border-radius: 2%;
  padding: 5%;
  background-color: #f5dcc6;
}

.list-start li {
  margin-top: 10px;
}

#todo {
  width: 65vw;
}

img {
  width: 100%;
}

/* Responsive tweaks for tablets and larger screens */
@media (min-width: 481px) {
  :root {
    --top-nav-height: 64px;
  }

  .list-start:hover {
    border-color: #04030281;
    background-color: #f6e0cc;
  }

  /* Base font size for all elements on larger screens */
  * {
    font-size: 20px;
  }
}
